# File types to ignore globally
*.DS_Store
*.sw?
*~

npm-debug.log

# Directories to ignore
*.xpi
*.zip
build/
node_modules/
jspm_packages/


# Next.js 
.next

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/


# dotenv environment 
.env

# FuseBox cache
.fusebox/
